<h4 {{action "toggleThread"}}>To: {{recipient}}</h4>

<div class="thread-actions">
  <i class="fa {{toggleIconClass}}" {{action "toggleThread"}} />
  <i class="fa fa-times" {{action "closeThread"}} />
</div>

<div class="thread-content">
  {{#each thread as |whisper|}}
    {{whisper-message recipient=recipient whisper=whisper}}
  {{/each}}
</div>

<div class="thread-reply">
  {{input type="text" value=threadReply enter="reply" placeholder="Psst..."}}
</div>
