<nav class="row">
  <ul>
    <li>{{link-to "Settings" "settings"}}</li>
    <li>{{link-to "Dashboard" "dashboard"}}</li>
    <li>{{link-to "Giveaways" "giveaways"}}</li>
    <li>{{link-to "Lists" "lists"}}</li>
    <li>{{link-to "Loyalty" "loyalty"}}</li>
  </ul>
</nav>

{{notification-tray notification=notification}}

<div class="row">
  <div id="chat" class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        {{twitch-chat title="Chat" messages=chatroom enableChatInput="true" enableViewerList="true"}}
      </div>
    </div>

    <div class="row">
      <div id="chat-mentions" class="col-xs-12">
        {{twitch-chat title="Mentions" messages=mentions}}
      </div>
    </div>
  </div>

  <div id="main-app" class="col-xs-6">
    {{outlet}}
  </div>
</div>

{{outlet "modal"}}
