{{outlet "dev"}}

<nav class="row">
  <ul>
    {{link-to "Settings" "settings" tagName="li"}}
    {{link-to "Dashboard" "dashboard" tagName="li"}}
    {{link-to "Starred" "starred" tagName="li"}}
    {{link-to "Giveaways" "giveaways" tagName="li"}}
    {{link-to "Lists" "lists" tagName="li"}}
    {{link-to "Loyalty" "loyalty" tagName="li"}}
  </ul>
</nav>

{{notification-tray notification=notification}}

<div class="row">
  <div id="chat" class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        {{twitch-chat title="Chat" messages=chatroom enableChatInput="true" enableChatterList="true"}}
      </div>
    </div>

    <div class="row">
      <div id="chat-mentions" class="col-xs-12">
        {{twitch-chat title="Mentions" messages=mentions}}
      </div>
    </div>
  </div>

  <div id="main-app" class="col-xs-6">
    {{outlet}}
  </div>
</div>

{{outlet "modal"}}
