<i class="fa fa-smile-o {{iconClass}}" {{action "toggleEmojiSelector"}}></i>

<ul class="{{emojiSelectorClass}}">
  {{#each-in emojis as |code emoji|}}
    <li {{action "useEmoji" code}} data-emoji-code={{code}}>{{img-loader src=emoji.imageUrl image404="image404"}}</li>
  {{/each-in}}
</ul>
