<a href="#" class="chatter-list-trigger {{chatlistClass}}" {{action 'toggleChatList'}}>
  <i class="fa fa-users"></i>
  {{!-- {{#if viewerCount}}
    ({{viewerCount}})
  {{/if}} --}}
</a>

<div class="chatlist {{chatlistClass}}">
  <div class="search">
    {{input type="text" value=searchTerm placeholder="Search..."}}
  </div>

  <ul>
    {{#each viewers as |viewer|}}
      <li class="viewer">
        <span class="username">{{viewer}}</span>
      </li>
    {{/each}}
  </ul>
</div>
