<h3>{{title}}</h3>

<div class="chatbox">
  {{#each messages as |message|}}
    <div class="chat-msg">
      <div class="user">
        <a href="{{message.user.url}}" class="user-name">{{message.user.username}}</a>
        {{timeout-link user=message.user}}
        {{ban-link user=message.user}}
      </div>

      <div class="msg">
        {{message.content}}
      </div>
    </div>
  {{/each}}
</div>
