{{#if enableChatterList}}
  {{chatter-list}}
{{/if}}

<h3>
  {{#if enableChatInput}}
    {{channel}}
  {{else}}
    {{title}}
  {{/if}}
</h3>

{{#if lastReadMarkerSet}}
  <div class="jump-to-last-read" {{action "scrollToLastRead"}}>Jump to last read</div>
{{/if}}

<div class="chatbox">
  {{#each messages as |message|}}
    {{twitch-chat-message message=message markAsLast="markAsLast"}}
  {{/each}}
</div>

{{#if newMessages}}
  <div class="jump-to-new" {{action "scrollToBottom"}}>New Messages</div>
  <!-- <button class="btn btn-info btn-unread" {{action "jumpToLastRead"}}>Jump to Last Read</button> -->
{{/if}}

{{#if enableChatInput}}
  {{input-autocomplete completions=completions placeholder="Say something..." say="say"}}
{{/if}}
