<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-8">
      <h3>{{title}}</h3>

      <div class="chatbox">
        {{#if unreadMessages}}
          <button class="btn btn-info btn-unread" {{action "jumpToLastRead"}}>Jump to Last Read</button>
        {{/if}}

        {{#each messages as |message|}}
          <div {{bind-attr class=":chat-msg message.lastRead:marked-last-msg"}} {{action 'markAsLast' message on='click'}}>
            <div class="user">
              <a href="{{message.user.url}}" class="user-name" style="color: {{message.user.color}}">{{message.user.displayName}}</a> | {{timeout-link user=message.user}} | {{ban-link user=message.user}}
            </div>

            <div class="msg">
              {{{message.content}}}
            </div>
          </div>
        {{/each}}
      </div>

      {{#if enableChatInput}}
        <div class="msg-input">
          {{input type="text" value=chatInput enter="say" placeholder="Say something..."}}
        </div>
      {{/if}}
    </div>

    {{#if enableViewerList}}
      <div class="col-xs-4">
        {{viewer-list}}
      </div>
    {{/if}}
  </div>
</div>
