<h2>Settings</h2>

{{account-selector}}

{{new-user}}

{{user-manager}}

<h3>General Options</h3>
<div class="row">
  <div class="col-xs-3">
    <h4>Default Channel</h4>
    {{input type="text" focus-out="save" value=defaultChannel}}
  </div>

  <div class="col-xs-3">
    <h4>Timeout Duration</h4>
    {{input type="text" focus-out="save" value=viewerTimeoutDuration}}
  </div>

  <div class="col-xs-3">
    <h4>Command Trigger</h4>
    {{input type="text" focus-out="save" value=commandTrigger}}
  </div>

  <div class="col-xs-3">
    <h4>Macro Trigger</h4>
    {{input type="text" focus-out="save" value=macroTrigger}}
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4>Follower Update Interval</h4>
    {{input type="text" focus-out="save" value=followerUpdateInterval}}
  </div>

  <div class="col-xs-6">
    <h4>Chatlist Update Interval</h4>
    {{input type="text" focus-out="save" value=chatlistUpdateInterval}}
  </div>
</div>
