<div class="user">
  <a href="{{message.user.url}}" class="user-name" style="color: {{message.user.color}}">{{message.user.displayName}}</a> | {{timeout-link user=message.user}} | {{ban-link user=message.user}}
</div>

<div class="msg">
  {{{message.content}}}
</div>
