<h2>Dashboard</h2>

{{join-channel}}

{{account-selector}}

{{connection-status}}

{{follower-monitor}}

{{subscriber-monitor}}

<div class="row">
  <div class="col-xs-12">
    <h3>[TODO] Dashboard Features</h3>

    <ul>
      <li>Stream uptime</li>
      <li>Active Lists</li>
      <li>Active Giveaways</li>
      <li>Loyalty Stats</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>[TODO] Features</h3>

    <ul>
      <li>Username autocomplete</li>
      <li>Emoji autocomplete?</li>
      <li>Random Joke Fetcher</li>
      <li>Persistent Connection Status Bar? With Channel Join</li>
      <li>Giveaways: bot gives one keyword a day (similar to radio giveaways) -- all keywords required for eligibility, viewers whisper keywords (which can be auto-tracked)</li>
      <li>Whisper Tracker or full Whisper/IM system like gmail chat?</li>
      <li>Clear: Chat, Mentions, Starred, Whispers, Latest Followers/Subs</li>
      <li>(BEFORE TESTING SPOTIFY) Chat Rate Limit Protection</li>
      <li>Song Request / Spotify API</li>
    </ul>
  </div>
</div>
